{% extends "base.html" %}
{% load img_extras %}

{% block header %}
{% include "header.html" with title="修改密码" %}
{% endblock %}


{% block content %}

<script type="text/javascript">
	
$(function(){
	$('#id_button').click(function(){
		// alert($)
		var old_pwd = $('#old_pwd').val(),
		new_pwd_1 = $('#new_pwd_1').val(),
		new_pwd_2 = $('#new_pwd_2').val(),
		len = new_pwd_1.length
		csrf = $('input[name="csrfmiddlewaretoken"]').val();

		one_date = {'old_pwd':old_pwd, 'new_pwd_1':new_pwd_1, 'new_pwd_2':new_pwd_2, 'csrfmiddlewaretoken':csrf}
		if(new_pwd_1 == new_pwd_2 && len >=6)
		{
			$.ajax({
				url:'/resetpwd_handle/',
				type:'POST',
				data:one_date,
				dataType:'json'
			}).success(function(data){
				if(data.flag == 0)
				{
					$('.error_4').html('未查询到该用户信息');
				}
				else if(data.flag == 1)
				{
					$('.error_1').html('密码错误');
				}
				else if(data.flag == 2)
				{
					$('.error_3').html('两次密码输入不一致');
				}
				else
				{
					alert('密码更新成功,请重新登陆');
					location.href = '/logout/'
				}
			})
		}
		else if(len < 6)
		{
			$('.error_4').html('您输入的密码过短');
		}
		else
		{
			$('.error_4').html('两次密码不一致');
		}
	})
})
</script>

<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-9">
<div class="blog-post">
	<ul class="nav nav-tabs">
		{% if request.session.islogin %}
			<li role="presentation"><a href="/register/">新帐户注册</a></li>
			<li role="presentation" class="active"><a href="/resetpwd/">重设密码</a></li>
		{% else %}
			<li role="presentation" class="active">
				<a href="/login/">账号登录</a>
			</li>
			<li role="presentation"><a href="/register/">新帐户注册</a></li>
			<li role="presentation"><a href="/resetpwd/">重设密码</a></li>
		{% endif %}
	</ul>
	<br>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form>
			{% csrf_token %}
			<div class="form-group">
				<label class="control-label">旧密码：</label>
				<input class="form-control" id="old_pwd" name="password" placeholder="请输入旧密码" type="password" autocomplete="new-password">
				<span class="error_1" style="color: red;position:absolute;"></span>
			</div>
			<div class="form-group">
				<label class="control-label">新密码：</label>
				<input class="form-control" id="new_pwd_1" name="password1" placeholder="请输入新密码" type="password" autocomplete="new-password">
				<span class="error_2" style="color: red;position:absolute;"></span>
			</div>
			<div class="form-group">
				<label class="control-label">确认新密码：</label>
				<input class="form-control" id="new_pwd_2" name="password2" placeholder="请确认密码" type="password" autocomplete="new-password">
				<span class="error_3" style="color: red;position:absolute;"></span>
			</div>
			<div class="form-group">
				<input class="btn btn-primary form-control" id="id_button" value="保存修改" type="button">
				<span class="error_4" style="color: red;position:absolute;"></span>
			</div>
		</form>
	</div>
</div>


		</div>
{% include "sidebar.html" %}
	</div>
</div> <!-- /container -->
{% endblock %}

