<footer id="footer">
    <p> 视野壁纸  PICVIEW 2017, Powered by <a href="#">XXXX</a></p>
    <a rel="nofollow" href="#">中ICP备66666666号-1</a>
</footer>

</body>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/js/jquery-1.12.4.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>

<script src="/static/js/bootstrap-dialog.js"></script>
<script src="/static/js/clock-canvas.min.js"></script>
<script src="/static/js/clock.js"></script>
<script src="/static/js/script.js"></script>
