{% extends "base.html" %}
{% load img_extras %}

{% block header %}
{% include "header.html" with title="首页" %}
{% endblock %}

{% block content %}
<script type="text/javascript">
	
</script>


<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-9">
<div class="blog-post row">
	<div class="col-xs-4 col-sm-3">
		<a href="{{ gallery|gallery_url }}"><img src="{{ gallery | cover_img | img_thumb_url }}" class="img-responsive img-rounded"></a>
	</div>
	<div class="col-xs-8 col-sm-9">
		<h3>
			<a href="{{ gallery|gallery_url }}">{{ gallery.title }}</a>
		</h3>
		<p class="text-muted small">
			上传者：<a href="#">{{ gallery.owner }}</a>

			<br>创建：{{ gallery.create_at }}，修改：{{ gallery.modify_at }}
		</p>
		<p class="text-muted small">
			分类：
			{% for one in gallery.category.all %}
				<a href="/?sev={{ one.id }}">{{ one.name }}</a>
			{% endfor %}
		</p>
	</div>
</div>

<div class="blog-post">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">内容</a></li>
	</ul>
</div>


<div class="blog-post row">
	{% for img in gallery.uploadimg_set.all %}
	<div class="col-xs-6 col-md-2 myClass">
		<a href="{{ img|img_detail_url }}" class="thumbnail">
			<img src="{{ img|img_thumb_url }}" alt="{{ img.title }}" title="{{ img.title }}">
		</a>
	</div>
	{% endfor %}
</div>

<div class="blog-post">
	
</div>



<div class="blog-post">
	<div class="panel panel-default">
		<div class="panel-heading">添加评论</div>
		<div class="panel-body">
			<form action="/comment/" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<div class="input-group">
						{% if request.session.islogin %}
							<div class="input-group-btn" style="width: 100px; height: 30px; margin: 0px;">
								<img src="/verify_code/" id="change" onclick="this.setAttribute('src','/verify_code/?verify_code='+Math.random())" style="border-radius: 4px;">
							</div>
						{% else %}
							<span class="input-group-btn">
								<a type="button" class="btn btn-primary" href="/login/">请先登录</a>
							</span>
						{% endif %}
						<div style="width: auto;margin-left:auto">
							<input class="form-control" id="id_vld_code" name="vld_code" placeholder="输入图片验证码，点击图片更换" maxlength="12" required="required" type="text" style="border-radius: 4px">
						</div>
						<input id="id_vld_hash" name="vld_hash" value="" type="hidden">
						<span class="input-group-addon" id="id_vld_code_hint"><span class="glyphicon glyphicon-asterisk"></span></span>
					</div>
						
				</div>

				<div class="form-group">
					<input name="name" value="comment_post" type="hidden">
					<textarea class="form-control" id="id_content" name="content" cols="40" rows="6"></textarea>		
				</div>

				<div class="form-group">
					<input id="id_btn_comment_post" class="btn btn-primary" name="submit" value="发表评论" type="submit">
				</div>
				<span class="error_4" style="color: red;position:absolute;">{{errmsg}}</span>
			</form>
		</div>
	</div>
</div>

		</div>
{% include "sidebar_detail.html" %}
	</div>
</div> <!-- /container -->
{% include "pager.html" %}
{% endblock %}
