<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <script src="/static/js/shares.js" charset="utf-8"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="壁纸分类网站">
  <meta name="keywords" content="壁纸,少女,豪车,跑车,超跑,模特,写真,私房,旅游,帅哥,美女,嫩模,风景,萌宠,电影">
  <meta name="author" content="">
  <title>PICVIEW - {{ title }}</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/offcanvas.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="/static/js/ie-emulation-modes-warning.js"></script>
  <script src="../static/js/jquery-1.12.4.min.js"></script>


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-dialog.css">
  <link href="/static/css/jiathis_counter.css" rel="stylesheet" type="text/css">
  <link href="/static/css/jiathis_share.css" rel="stylesheet" type="text/css">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>