<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
	<div class="sidebar-module sidebar-module-inset text-center">
		<!-- 钟表模块 -->
		<canvas id="clock" width="200" height="200"></canvas>
	</div>
	<div class="sidebar-module">
		<h4>温馨提示</h4>
		<p>本站所有图片,均来自于网络,如有问题,请发邮件至: itwhat@126.com</p>
		<p>欢迎交流学习</p>
	</div>
	<div class="sidebar-module">
		<h4>友情链接</h4>
		<ol class="list-unstyled">
			<li><a href="https://www.baidu.com/" target="_blank">百度</a></li>
			<li><a href="https://www.google.com/" target="_blank">Google</a></li>
		</ol>
	</div>
</div>